*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-color: rgb(6, 6, 76);
    height: auto;
    color: white;
}

h1,h3{
    margin-top: 50px;
    text-align: center;
}

.card-container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin-top: 100px;  
    

}



.card{
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    
}

.card:hover{
    border: 2px solid rgb(133, 124, 255);
    border-radius: 10px;
    
}
h4{
    text-align: center;
    background-color: rgb(62, 96, 230);
}



a,li{
    text-decoration: none;
}

.card img{
    width: 100%;
    height: 300px;
    display: flex;
    
}

