
*{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    background-color: rgb(116, 2, 2);
    align-items: center;
}

body h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

body h3, h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.container{
    width: 50%;
    height: 50%;
    display: flex;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
   
}

 img{
    
    width: 400px;
    height: 400px;
    

    
}

.resposta{ 
    margin-right: 140px;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 75px;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    

    
}

.r1,.r2{

    margin: 10px;

}
a{
    background-color: antiquewhite;
    text-align: center;  
    margin: 50px;
    padding: 2px;
    border-radius: 50px;
    text-decoration: none;

}

